* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

::page-transition-outgoing-image(content-tag),
::page-transition-incoming-image(content-tag) {
  animation-duration: 5s;
}

.content {
    page-transition-tag: content-tag;
    contain: paint;
}

.menu {
    width: 100vw;
    height: 25px;
    page-transition-tag: menu-tag;
    contain: paint;
}